@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    background: #eee;
    height: auto;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #fff ;
}

.logo{
    color: #333;
    text-transform: upprecase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width:  30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #333;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}


.burger div{
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}


h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;

}

h2 {
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0;
}

h4 {
    font-weight: 300;
    font-size: 0.8rem;
   
    margin: 0;
}

img{
    display: block;
    width: 100%;
}

main{
    max-width: 900px;
    margin: auto;
    box-shadow: 5px 0px 30px rgba(0,0,0,0.1), 
        -5px 0px 5px rgba(0,0,0,0.12);
}

#landing {
    background: #fff;

}

#landing-text{
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#landing-text h2 {
    color: #888;
}

#landing-image {
    background: url(https://source.unsplash.com/fz7SR_qfWHY);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

.btn{
    padding: 0.5rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h2{
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption{
    padding: 0.8rem;
    text-align: center;
}

.twitter {
    text-align: center;
    padding: 1rem;
}

footer{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;

}

footer h3{
    font-size: 3rem;
    margin-bottom: 0;
}




.btn {
    padding: 1rem 3rem;
}



/* Screen sizes 500px and Up 
@media(min-width:500px){


    
}

 Screen Sizes 700px and Up
@media(min-width: 769px){
    .btn{
        padding: 1rem 3rem;
    }

    .burger {
        display: none;
    }

}*/

@media screen and (max-width: 768px){
    #landing {
        display: flex;
        height: 100%;
    }

    #landing-text {
        height: 100vh;
    }

    #landing-image {
        height: 100vh;
    }


    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;

    }

    /*.nav-links li {
         opacity: 0;
    }*/

    .burger {
        display: block;
        cursor: pointer;
    }

    body {
        overflow-x: hidden;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}


.toggle .line2 {
    opacity:0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.nav-active {
    transform: translateX(0%);
}